.background {
    width: 100vw;
    height: 500px;
}

.logo {
    position: relative;
    top: -490px;
    left: 5px;
}

.man {
    position: relative;
    top: -470px;
    left: 25%;
    height: 250px;
    width: 250px;
}

div {
    position: relative;
    top: -280px;
    left: 60px;
    text-align: left;
    max-width: 70%
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

h2 {
    padding-bottom: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: darkgrey;
    padding-bottom: 30px;
}

input {
    display: block;
    padding: 10px 50px 10px 5px;
    font-size: 20px;
    margin-bottom: 40px;
}

.sign-up {
    color: white;
    background: hsl(163, 95%, 43%);
    padding: 10px 70px;
    border-radius: 5px 5px;
    font-size: 20px;
}

a {
    position: relative;
    left: 350px;
    top: -180px;
}

@media (min-width: 600px) {
    body {
        display: flex;
        margin: 0;
        align-content: center;
    }
    .background {
        width: 50vw;
        height: 700px;
        margin-left: -60px;
        position: relative;
        top: 250px;
    }
    .logo {
        position: relative;
        top: -750px;
    }
    .man {
        position: relative;
        top: -330px;
        height: 350px;
        width: 350px;
        left: 30px;
    }
    h1,
    h2,
    p {
        position: static;
        top: 300px;
    }
    .info {
        position: relative;
        top: 100px;
        padding-left: 50px;
    }
}